@import "https://younk.csb.app/styles.css";
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-color: black;
  --secondary-color: black;
  --background-color: white;
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

/* Nav-bar */

.nav-heading {
  color: var(--primary-color);
  text-align: left;
  font-size: xx-large;
  margin-right: 12rem;
  font-style: normal;
}

.nav-half-heading {
  font-size: xx-large;
  margin: 0rem 0.2rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.2rem;
}
.nav-ecom {
  background-color: var(--background-color);
}

.link-no-decoration {
  text-decoration: none;
}
.input {
  border: 0.5px solid var(--primary-color);
  border-radius: 0.3rem;
  width: 45%;
  background-color: var(background-color);
}
.input-search {
  width: 88%;
  padding: 0.3rem 0.3rem;
  border: none;
  outline: none;
  font-size: large;
}

.input button {
  width: 12%;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-left: 1px solid grey;
  padding: 0.5rem 1.4rem;
}

/* Side-bar */
.action-bar {
  margin-top: 5rem;
  margin-left: 0;
  width: 15rem;
  border: none;
  position: inherit;
}
.actions-div {
  color: var(--primary-color);
  border: none;
}

.badge-icons {
  text-align: center;
  /* align-items: center;
  font-size: small; */
  color: var(--primary-color);
  margin: 0rem;
  padding: 0rem;
  align-self: center;
  justify-content: center;
}

.sidebar-label {
  color: var(--primary-color);
  font-size: large;
  font-weight: 400;
}

.actions-types {
  height: 2rem;
}

.cards-products {
  background-color: red;
}

/* landing-page-div */

.landing-page-main {
  display: flex;
  flex-direction: row;
}

.landing-page-div {
  display: flex;

  margin-top: 4.5rem;
  width: 90%;
}

/* landing-page-videos */

.landing-page-videos {
  color: var(--primary-color);
  text-decoration: none;
  width: 100%;
  height: 100vh;
}
.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.video {
  cursor: pointer;
  width: 22%;
  height: 14rem;
  display: inline-block;
  margin: 0.3rem 0.2rem;
}

.video-image {
  width: 100%;
}

.video-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 4rem;
}

.video-name {
  font-weight: 400;
  /* overflow: hidden; */
  font-size: 1.1rem;
  margin: 0.3rem 0.2rem;
}

.video-channel {
  font-size: small;
  color: grey;
  margin: 0.1rem 0.2rem;
}

/* playvideo */

.playvideo-div {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.playvideo {
  margin: 5rem 0rem;
  width: 80%;
}
.video-play-views {
  margin-right: 25rem;
}

.video-play-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: grey;
}

.video-play-actions .fa {
  margin-right: 0.4rem;
}

/* playvide- likedbtn */

.actionbtn {
  border: none;
  background-color: transparent;
  outline: none;
}

.watchlater {
  font-size: 1rem;
  font-weight: 600;
}
