@import "https://younk.csb.app/styles.css";
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-color: black;
  --secondary-color: black;
  --background-color: white;
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

/* Nav-bar */

.nav-heading {
  color: var(--primary-color);
  text-align: left;
  align-items: flex-start;
  font-size: xx-large;
  font-style: normal;
  margin-right: 6rem;
  margin-left: 1.2rem;
}
.nav-heading .fa {
  margin: 0rem 0.5rem;
}

.container {
  height: 2rem;
  top: 0.1rem;
  position: relative;
  display: inline-block;
  background-color: black;
  width: 2rem;
}

.nav-half-heading {
  font-size: xx-large;
  margin: 0rem 0.2rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.2rem;
}
.nav-ecom {
  background-color: var(--background-color);
}

.link-no-decoration {
  text-decoration: none;
  position: cursor;
}

.input {
  border: 0.5px solid var(--primary-color);
  border-radius: 0.3rem;
  width: 45%;
  background-color: var(background-color);
}
.input-search {
  width: 70%;
  padding: 0.3rem 0.3rem;
  border: none;
  outline: none;
  font-size: large;
}

.input button {
  width: 12%;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-left: 1px solid grey;
  padding: 0.5rem 1.4rem;
}

.navigation {
  z-index: 12;
  justify-content: flex-start;
}
/* nav-var mobile */
@media screen and (max-width: 767px) {
  .container {
    display: none;
  }
  .nav-icons {
    display: none;
  }
  .nav-video {
    width: 100%;
    text-align: left;
  }
  .badge-div {
    margin: 0rem 0.7rem !important;
  }
  .input {
    width: 60%;
    height: 2rem;
    margin: 1rem 0.1rem;
    margin-left: 2rem;
  }
  .nav-heading .fa {
    margin: 0rem 0.2rem;
  }

  .input button {
    width: 10%;
    height: auto;
    padding: 0.5rem 0rem;
  }
  .input-search {
    font-size: large;
    padding: 0.1rem 0.1rem;
    width: 89%;
    margin: 0rem 0rem;
  }

  .nav-heading {
    margin: 0rem 1rem;
    font-size: large;
  }
  .nav-half-heading {
    margin: 0rem 0.1rem;
    font-size: large;
  }

  .list-item-inline a {
    margin: 0rem 2rem;
  }
  .nav-ecom {
    width: 100%;
  }
  .nav-pills {
    margin-right: 1rem !important;
  }

  /* .list-item-inline-link {
    margin: 0rem;
  } */
}

/* Side-bar */
.action-bar {
  background-color: var(--background-color);
  left: 0;
  top: 6%;
  position: fixed;
  width: 14rem;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.action-bar-heading {
  display: flex;
}

.action-bar-heading {
  margin-left: 4rem;
  font-size: xx-large;
}
.action-bar-half-heading {
  font-size: xx-large;
}
.actions-div {
  margin: 1rem 0rem;
  height: 100vh;
  color: var(--primary-color);
  border: none;
}

@media screen and (max-width: 767px) {
  .action-bar {
    display: none;
  }
}

.badge-icons {
  text-align: center;
  /* align-items: center;
  font-size: small; */
  color: var(--primary-color);
  margin: 0rem;
  padding: 0rem;
  align-self: center;
  justify-content: center;
}

.sidebar-label {
  color: var(--primary-color);
  font-size: large;
  font-weight: 400;
}

.actions-types {
  display: flex;
  width: 100% !important;
  width: 7rem;
  height: 2rem;
  margin-bottom: 1.5rem;
}

/* .cards-products {
  background-color: red;
} */

/* landing-page-div */

.landing-page-main {
  display: flex;
  flex-direction: row;
}

.landing-page-div {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* landing-page-videos */

.landing-page-videos {
  color: var(--primary-color);
  text-decoration: none;
  width: 100%;
}
.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.component-videos {
  justify-content: flex-start;
  width: auto;
  height: auto;
  margin-top: 1rem !important;
}

.video {
  cursor: pointer;
  width: 15.5rem;
  display: inline-block;
  margin: 0.5rem 1.2rem;
}

.video-image {
  width: 100%;
  height: 10rem;
}

.video-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 7rem;
  overflow: hidden;
}

.video-name {
  font-weight: 400;
  /* overflow: hidden; */
  font-size: 1.1rem;
  margin: 0.3rem 0.2rem;
}

.video-channel {
  font-size: small;
  color: grey;
  margin: 0.1rem 0.2rem;
}

/* playvideo */

.playvideo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.playvideo {
  width: 80%;
  margin: 5rem 0rem;
}
.video-play-views {
  margin-right: 25rem;
}

.video-play-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: grey;
}

.video-play-actions .fa {
  margin-right: 0.4rem;
}

.video-iframe {
  width: 100%;
  height: 30rem;
}

.video-play-actions-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  .landing-page-main {
    display: block;
  }
  .video-content {
    height: auto;
  }

  .videos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video {
    width: 88%;
    margin: 0rem 1rem;
    height: auto;
  }

  .playvideo-div {
    width: 100%;
  }

  .playvideo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .video-iframe {
    width: 90%;
    height: 20rem;
  }

  .video-play-views {
    display: block;

    margin: 0.2rem 0rem;
  }
  .video-play-actions {
    display: inline-block;
  }
  .video-play-actions-icons {
    margin: 1rem;
  }
}
/* playvide- likedbtn */

.actionbtn {
  border: none;
  background-color: transparent;
  outline: none;
}

.watchlater {
  font-size: 1rem;
  font-weight: 600;
}

.videos-div {
  width: 100%;
}

.page-heading {
  display: block;
  margin-top: 6rem;
}
.page-heading-head {
  margin-left: 1rem;
}

.videos {
  margin-top: 5rem;
}
.landing-page-vidoes {
  margin-top: 0;
}

.no-items {
  width: 80%;
  height: 2rem;
  margin: 1rem 1rem;
  box-shadow: 4px 2px #888888;
  padding: 2rem 1rem;
}

@media screen and (max-width: 767px) {
  .no-items {
    padding-bottom: 2.5rem;
  }
}
/* Playlist popup */

.playlist-popup {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;

  background-color: var(--primary-color);
  color: var(--background-color);
  z-index: 1;
  text-align: center;
}

.create-playlist-input {
  padding: 0.3rem 0.3rem;
  margin-right: 0.2rem;
}

.create-playlist-btn {
  padding: 0.4rem 0.3rem;
  border-radius: 0.2rem;
  margin: 0.5rem;
  border: none;
  background-color: var(--background-color);
}

.playlist-popup-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.playlist-name {
  padding: 0.4rem 0.2rem;
}

@media screen and (max-width: 767px) {
  .playlist-popup {
    left: 23%;
    top: 25%;
    width: 55%;
  }
  .create-playlist-input {
    padding: 0.2rem 0.2rem;
    width: 56%;
  }

  .create-playlist-btn {
    padding: 0.2rem 0.2rem;
  }
}
/* 
playlist-compo */
.single-playlist {
  display: block !important;
  width: 100%;
  height: 30%;
  margin: 0rem 1rem;
}

.playlist-Name {
  font-size: x-large;
  display: block;
}

.screen-header {
  display: block;
  margin-top: 5rem;
  margin-left: 5rem;
}

/* footer */

.footer {
  display: none;
}

@media screen and (max-width: 767px) {
  /* .footer-div {
    width: 100%;
  } */
  .footer {
    font-size: small;
    position: fixed;
    left: 0;
    display: block;
    bottom: 0rem;
    z-index: 1;
    width: 100%;
    height: 3rem;
    background-color: var(--background-color);
  }
  .footer .list-item-inline {
    margin: 0rem 1rem;
  }
  .footer .list-no-bullets {
    padding: 0rem 0rem;
  }
  .footer .nav-list-ecom {
    justify-content: space-evenly;
  }
}

/* 
toggle-vidoes */

.toggle-vidoes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  position: relative;
}

.toggle-video-iframe-3 {
  position: absolute;
  top: 6%;
  left: 20%;
  align-items: center;
  width: 60%;
  height: 18rem;
  z-index: 5;
}

.toggle-video-iframe-2 {
  position: absolute;
  top: 14%;
  left: 18%;
  width: 35%;
  height: 15rem;
  z-index: 4;
}

.toggle-video-iframe-1 {
  position: absolute;
  top: 23%;
  left: 16%;
  width: 45%;
  height: 12rem;
  z-index: 3;
}
.toggle-video-iframe-4 {
  position: absolute;
  top: 14%;
  left: 47%;
  width: 35%;
  height: 15rem;
  z-index: 4;
}
.toggle-video-iframe-5 {
  position: absolute;
  top: 23%;
  left: 39%;
  width: 45%;
  height: 12rem;
  z-index: 3;
}

.toggle-left-btn {
  top: 46%;
  left: 13%;
  border: none;
  outline: none;
  background-color: white;
  position: absolute;
}

.toggle-left-right {
  top: 46%;
  right: 13%;
  border: none;
  outline: none;
  background-color: white;
  position: absolute;
}
.toggle-swipe {
  display: none;
}

@media screen and (max-width: 767px) {
  .toggle-vidoes {
    top: 3%;
    left: 0;
    width: 100%;
    height: 13rem;
  }
  .toggle-video-iframe-3 {
    left: 10%;
    width: 60%;
    height: 10rem;
  }
  .toggle-video-iframe-2 {
    left: 7%;
    width: 45%;
    height: 8rem;
  }

  .toggle-video-iframe-4 {
    left: 29%;
    width: 45%;
    height: 8rem;
  }
  .toggle-video-iframe-1 {
    left: 4%;
    width: 35.5%;
    height: 5rem;
  }

  .toggle-video-iframe-5 {
    left: 42%;
    width: 35.5%;
    height: 5rem;
  }
  .toggle-left-btn,
  .toggle-left-right {
    display: none;
  }

  .toggle-vidoes .toggle-swipe {
    position: absolute;
    bottom: 4%;
    left: 44%;
    display: block;
  }
}
